/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	color:#333;
	font:13px "微软雅黑";
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
fieldset {
    border: none;
    padding:0;
    margin:0;
}
a{
	color:#666;
	text-decoration: none;
	&:hover{
		color:#09c;
	}
}

.inner-topbar,
.inner-header,
.inner-nav,
.inner-pos,
.inner-container,
.inner-links,
.inner-footer {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.wrap-container{
	background:#f3f4f6 url("../themes/default/images/bg.png") no-repeat 0 -100px;
	padding:0 0 20px;
}
#aside {
    width: 200px;
    float: left;
}

#body {
    margin: 0 0 0 210px;
}


section{
	border:1px #e6e9ef solid;
	background: #fff;
	header{
		border-bottom:1px #e6e9ef solid;
		line-height:40px;
		padding:0 20px;
		h3{
			@extend .ib;
			line-height:40px;
			border-bottom:3px #09c solid;
			font-size:15px;
		}
	}
}

@import "../sass/setting","../sass/header","../sass/pos","../sass/aside","../sass/footer";
