@import "../sass/setting","../sass/timetree";

#info {
	background: #e6e9ef;
	padding:1px;
	margin-bottom:10px;
	.welcome{
	background:#fff;
	padding:20px;
	overflow:hidden;
	img{
		float: left;
		margin-right:20px;
		border-radius: 40px;
	}
	p{
		b{
			font-size:18px;
			font-weight: normal;
		}
		margin: 10px 0;
		*margin:10px 0 20px;
	}
	span{
		@extend .ib;
		width:57px;
		height:21px;
		padding:3px 0 0 25px;
		background:url(../themes/default/images/lv.png) no-repeat 0 0;
		color:#fff;
	}

}
.total{
	position: absolute;
	width:490px;
	right:20px;
	top:35px;
	white-space:nowrap;
	text-align:right;
		figure{
			@extend .ib;
			text-align: left;
			width:150px;
			overflow: hidden;
			i{
				float: left;
				font-size:42px;
				margin-right:10px;
			}
			dl{
				margin-top:0;
			}
			em{
				font-size:24px;
				font-style: normal;
				color:#f90;
				margin:0 10px 0 0;
			}
		}
		.activity i{
			color:#ea7656;
		}
		.job i{
			color:#42a6b2;
		}
		.lesson i{
			color:#b4c76f;
		}
	}
	.info{
		line-height:40px;
		padding:0 20px;
		font-size:14px;
	dt,dd{
		@extend .ib;
	}
	dd{
		margin-right: 15px;
	}
}
}

#career .content{
	padding:30px 20px;
}
