#links{
  font-size:0;
  .inner-links{
    border-bottom: 2px #e7eaf0 solid;
    padding:20px 0 25px;
  }
  figure{
    @extend .ib;
    width:20%;
font-size:13px;
line-height:25px;
    figcaption{
      font-size:16px;
      line-height:40px;
    }
  }
}
#footer{
  text-align: center;
  line-height:30px;
  padding:15px 0;
  a{
    margin:0 10px;
  }
}