#topbar{
  background: #f9f9f9;
  line-height: 30px;
  .inner-topbar{
    width: 1000px;
    margin:0 auto;
    position: relative;
  }
  p{
    position: absolute;
    right: 0;
    top:0;
  }
  a{
    margin:0 5px;
  }
}
#header{
  .inner-header{
    width: 1000px;
    margin:0 auto;
    position: relative;
    padding:15px 0;
  }
  fieldset{
    position: absolute;
    right:0;
    top:30px;
    input{
      border:1px #e6e9ef solid;
      height:30px;
      line-height:30px;
      padding:0 24px 0 5px;
      outline: none;
      width:200px;
    }
    button{
      border:none;
      background:none;
      outline: none;
      position: absolute;
      right:3px;
      top:8px;
      color: #aaa;
    }
  }
}
#nav{
  background:#09c;
  line-height: 50px;
  color: #fff;
  font-size:15px;
  .inner-nav{
    width: 1000px;
    margin:0 auto;
    position: relative;
  }
  li{
    @extend .ib;
  }
  a{
    display: block;
    padding:0 30px;
    color: #fff;
    &:hover{
      background:darken(#09c,5%)
    }
  }
}