.time-tree {
  background: url("../themes/default/images/line-bg.png") repeat-y 249px 0;
  position: relative;
}
.time-tree h4.title {
  position: absolute;
  line-height: 58px;
  padding-left: 80px;
  left: 222px;
  top: -10px;
  text-indent:-8000px;
  font-size: 24px;
  background: url("../themes/default/images/clock.png") no-repeat left top;
}
.time-tree .year {
  position: relative;
  z-index: 100;
}
.time-tree .year h5 {
  height: 40px;
  width: 170px;
  padding-right: 30px;
  font-size: 24px;
  line-height: 40px;
  text-align: right;
}
.time-tree .year h5 a {
  color: #58a6fb;
}
.time-tree .year h5 i{
  display:block;
  position:relative;
  height:0;
  width:0;
  left:190px;
  top:-20px;
  border-width:6px;
  border-style:solid;
  border-color:#59a7fb transparent transparent transparent;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -ms-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  -webkit-transform-origin:6px 3px;
  -moz-transform-origin:6px 3px;
  -ms-transform-origin:6px 3px;
  -o-transform-origin:6px 3px;
  transform-origin:6px 3px
}
.time-tree .year .list{
  margin:10px 0;
  position:relative;
  overflow:hidden;
  -webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
  -moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
  -ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
  -o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
  transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s
}
.time-tree .year .list ul {
  bottom: 0;
}
.time-tree .year .list ul li {
  background: url("../themes/default/images/circle.png") no-repeat 238px 31px;
  padding: 30px 0;
  color: #999;
}
.time-tree .year .list ul li.highlight {
  background-image: url("../themes/default/images/circle-h.png");
}
.cls {
  zoom: 1;
}
.cls:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.time-tree .year .list ul li.highlight .date, .time-tree .year .list ul li.highlight .intro {
  color: #ec6a13;
}
.time-tree .year .list ul li .date,.time-tree .year .list ul li .version{
  float:left;
  display:block;
  clear:left;
  width:200px;
  line-height:24px;
  text-align:right
}
.time-tree .year .list ul li .date{
  font-size:18px;
  line-height:32px;
  color:#bec1d5
}
.time-tree .year .list ul li .intro, .time-tree .year .list ul li .more {
  float: left;
  display: block;
  width: 400px;
  margin-left: 100px;
  line-height: 24px;
}
.time-tree .year .list ul li .intro {
  font-size: 18px;
  line-height: 32px;
  // color: #63d029;
}
.time-tree .year.close h5 i{
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg)

}
.time-tree .year.close .list{
  opacity:0;
  height:0!important;
}

.time-tree .year h5 i{
  *left:40px
}